body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    padding-left: 5%;
    padding-right: 5%;
  }

  h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: red;    
  }

  @media (min-width: 50em) {
    h3 {
      color: rgba(108, 105, 105, 0.727);
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
  

  li {
    padding-left: 3em;
    list-style-type: none;    
    width: fit-content;       
  }

  .status {
    width: fit-content;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .seen {
    background-color: rgb(215, 210, 210);        
  }

  .new {    
    background-color: rgb(202, 225, 202);            
  }

  .vacancy-name {
    color: rgb(7, 26, 119);
    font-style: oblique;
    font-weight: bold;
    padding-left: 3em;    
  }
  
  ol, ul {        
    padding-left: 0em;
    border: 1px solid black;    
  }
    
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .clock {
    outline-offset: 2px;
  }
  
